<%- include('header') -%>

<br>

<h2 class="header__title"><%= subtitle %></h2>
 
<form method="post" action="/addusers">

    <div class="field<%= locals.isInvalid('KT', errors) ?  ' field--invalid' : '' %>">
      <label for="KT">Kennitala</label>
      <input type="text" class="form-control" name="KT" placeholder="Kennitala" >
    </div>  
    
    <div class="form-group">
      <label for="formGroupExampleInput">Nafn</label>
      <input type="text" class="form-control" name="NAFN" placeholder="Nafn" >
    </div>
      
    <div class="form-group">
      <label for="formGroupExampleInput">Símanúmer</label>
      <input type="text" class="form-control" name="SIMI" placeholder="Símanúmer" >
    </div>
  
    <div class="form-group">
      <label for="inputEmail4">Netfang</label>
      <input type="email" class="form-control" name="NETFANG" placeholder="Tölvupósur" >
    </div>
    
    <br>

    <% if (errors.length > 0) { %>
      <h2 class="errors__title">Villur við undirskrift:</h2>
      <ul class="errors">
        <% errors.forEach((error) => { %>
          <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>
        <% }); %>
      </ul>
    <% } %>

    <br>

    <button class="btn btn-sm btn-success">Vista</button>

</form>

<br>

<%- include('footer') -%> 