<%- include('header') -%>

<br>

<h2 class="header__title"><%= subtitle %></h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Heiti</th>
      <th>Staður</th>
      <th>Dagur</th>
      <th>Byrja</th>
      <th>Endir</th>
      <th>Vettvangur</th>
      <th>Túlkur</th>
      <th class="d-print-none">
        <a class="btn btn-sm btn-success" href="addprojects">Bæta nýtt verkefni</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <% for(let project of model) { %>
    <tr>
      <td><%= project.HEITI %></td>
      <td><%= project.STADUR %></td>
      <td><%= project.DAGUR %></td>
      <td><%= project.TIMI_BYRJA %></td>
      <td><%= project.TIMI_ENDIR %></td>
      <td><%= project.VETTVANGUR %></td>
      <td><%= project.NAFN %></td>
      <td>
        <a class="btn btn-sm btn-warning" href="project_select/<%= project.NR %>">Uppfæra</a>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>

<br>

<%- include('footer') -%> 