<%- include('header') -%>

<br>

<h2 class="header__title"><%= subtitle %></h2>
<% for(let one_user of one_tulkur ) { %>
<form method="post" action="/change_tulkur/<%= one_user.nr %>">
    
    <div class="form-group">
      <label for="nationalId">Nafn túlka er skráður í túlkaverkefni</label>
        
        <input type="text" class="form-control" name="" placeholder="<%= one_user.nafn %>" >
    </div>
<% } %>
 
    <div class="form-group">
      <label for="">Táknmálstúlkur</label>
      <select class="form-control" id="nafn" name="nafn">
        <% for(let user of all_tulkur) { %>
          <option name="NAFN"><%= user.nafn %></option>
        <% } %>
      </select>
    </div>

    <br>
    
    <button class="btn btn-sm btn-success">Skipta túlk</button> 
  
  </form>

<br>

<%- include('footer') -%> 