<%- include('header') -%>

<br>

<h2 class="header__title"><%= subtitle %></h2>
 
<form method="post" action="/userupdate/<%= model.KT %>" >

    <div class="form-group">
      <label for="nationalId">Kennitala</label>
      <input type="text" class="form-control" name="KT" placeholder="<%= model.KT %>" >
    </div>  
    
    <div class="form-group">
      <label for="name">Nafn</label>
      <input type="text" class="form-control" name="NAFN" value="<%= model.NAFN %>" placeholder="<%= model.NAFN %>" >
    </div>
      
    <div class="form-group">
      <label for="nationalId">Símanúmer</label>
      <input type="text" class="form-control" name="SIMI" value="<%= model.SIMI %>" placeholder="<%= model.SIMI %>" >
    </div>

    <div class="form-group">
      <label for="nationalId">Netfang</label>
      <input type="email" class="form-control" name="NETFANG" value="<%= model.NETFANG %>" placeholder="<%= model.NETFANG %>" >
    </div>
    
    <br>

    <button class="btn btn-sm btn-warning">Uppfæra</button>

</form>

<br>

<%- include('footer') -%> 