<%- include('header') -%>

<!--
<a href="/">Home</span></a>
<a href="user">User</a>
<a href="project">project</a>
-->
<h2 class="header__title"><%= subtitle %></h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Kennitala</th>
      <th>Nafn</th>
      <th>Sími</th>
      <th>Netfang</th>
      <th class="d-print-none">
        <a class="btn btn-sm btn-success" href="addusers">Bæta</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <% for(let user of model) { %>
     <tr>
       <td><%= user.KT %></td>
       <td><%= user.NAFN %></td>
       <td><%= user.SIMI %></td>
       <td><%= user.NETFANG %></td>
       <td class="d-print-none">
         <a class="btn btn-sm btn-warning" href="userupdate/<%= user.KT %>">Uppfæra</a>
         <a class="btn btn-sm btn-danger" href="">Eyða</a>
        </td>
     </tr> 
     <% } %> 
  </tbody>
</table>


<%- include('footer') -%> 